.head
{
	border: 1px solid #00bcd4;
	height: 101px;
	text-align: center;
	
}
.lightblue
{
	/*border: 1px solid green;*/
	background-color: #00bcd4;
	/*color: black;*/
}

.head-nav,.navbar
{
	background-color:  #00bcd4;
}
.navbar
{
	border: 1px solid #00bcd4;
}
.navbar-default .brand-name {
    color: #6b0f12;
    font-size: 30px;
    font-weight: bold;
}
.nav.navbar-nav.navbar-right li a {
    color: black;
}
.nav.navbar-nav.navbar-right li :hover {
    color: #3d3c3c;
}
.footer {
	  	position: relative; 
	  	height: 100px;
	 	clear:both;
	  	padding-top:20px;
	  	background-color: #00bcd4;
	  	text-align: center;
} 
html, body {
  height: 100%;
}
.wrap {
  min-height: 557px;
}
.img-box
{
	/*border: 1px groove black;*/
	height: 100px;
	width: 100px;
	margin:auto;
}
.img-box img
{
	height: 100px;
	width: 100px;
}
.img-small img
{
	height: 50px;
	width: 50px;
	/*border: 1px solid red;*/
	margin-top:-15px;
	margin-left:auto;
	margin-right: auto;
}


.affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }

 #user-bar {
  position: fixed;
  height: 50px;
  width: 100%;
  background: #fff;
  border-top: 1px solid #ccc;
  padding: 1em;
}
.img-small
{
	/*border: 1px solid green;*/
	width: 100px;
}
.info
{
	text-align: justify;
}