.textarea-log
{
	border: 1px solid black;
	border-radius: 5px;
	min-height: 400px;
}
.tabs a
{
	background-color: #19aa8d;
}

.tabs a span
{
	color:black;
}

.line h3
{
	border :1px solid red;
}

.btn-line
{
	margin-top: 20px;
}

.table, .table th
{
	text-align: center;
}